body {
	font: normal normal normal 90%/130% "メイリオ","Meiryo UI","MS UI Gothic","ＭＳ Ｐゴシック",sans-serif; 
	margin: 2px 0px 0px 0px;
}


a:hover { color: #BE5170; }

.pt6  {  font-size:  6pt;}
.pt8  {  font-size:  8pt;}
.pt9  {  font-size:  9pt;}
.pt10 {  font-size: 10pt;}
.pt12 {  font-size: 12pt;}
.pt14 {  font-size: 14pt;}
.pt16 {  font-size: 16pt;}



/* ログインエリア */
#login_input td{
	font-size: 0.8em;
	font-weight: bold;
	color: #464646;
}



#demosite_notice td{
	font-size: 0.7em;
	color: #464646;
}

.open{
     background: #345785;
     color: #fff;
     cursor: pointer;
     width:120px;
     padding: 5px
}
#slideBox{
     padding: 10px;
     border: 1px #ccc solid;
     display:none;
	font-size: 1.0em;
     text-align: right;
     width:550px;

}



/* ログイン情報 */
#logininfo table{
	width: 1100px;
	font-size: 0.8em;
}
#logininfo td{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
/*	vertical-align: bottom;*/
}
#logininfo img{
	vertical-align: middle;
}
#logininfo hr{
	width: 1100px;
}
#logininfo a{
  font-size: 1.0em;
  text-decoration:none;
	color: #464646;

}
#logininfo a:hover{
  text-decoration:underline;
}




/* ﾄｯﾌﾟﾒﾆｭｰ */
#top_menu table {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
  font-size:10pt;
}
#top_menu td {
	vertical-align: middle;

}

#top_menu :hover img{
    filter: alpha( opacity=70 );  /* IE */
    opacity:0.25;                 /* Firefox,Opera,Safari */
    -moz-opacity:0.25;           /* Firefox 0.9より前 */
}


/* フッダー領域 */
#bottom_menu td{
	font-size: 0.6em;
	color: #464646;

}
#bottom_menu hr{
	width: 1100px;
}

/* マイボックス*/
.mybox_sidebar{
	width:300px; float:left; height:1500px; background:#333; color:#FFF; padding:0 10px; margin:0 10px;
}
.mybox_title{
	margin:10px 0 0 0;
}

.mybox {
	background-color:#FFF;
	height:200;
	color:#39F;
}

.mybox_link {
	margin: 5px;
}
